*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared style Start */

.btn{
    background-color: #469165;
    padding: 12px 16px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;

}

/* Shared Style End */

/* Main Style start */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
#header{
    padding: 16px 0px;
}

#header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    max-width: 1360px;
    margin: 0  auto;
}

#header nav .logo-navbar img{
    max-width: 339xp;
    max-height: 60px;
}

#header nav ul{
    display: flex;
    gap: 32px;
    max-width: 357px;
    list-style: none;
}

#header nav ul li{

}
#header nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: medium;
    color: #000000;
    opacity: 90%;
}

#hero-section {

    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 116px 120px;
    height: 674px;

    align-items: center;
}

#hero-section .banner-container {
    width: 97%;
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;

}

#hero-section .banner-container .status-badge {
    color: #469165;
    padding: 12px 10px;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 20px;
    width: 229px;
}

#hero-section .banner-container  .hero-title {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 20px;
    opacity: 90%;
}

#hero-section .banner-container  .hero-title .text-green {
    color: #30B868;
}

#hero-section .banner-container .hero-description {
    max-width: 600px;
    margin: 0 auto 30px;
    color: #cbd5e0;

}

#hero-section .banner-container .btn-green {
    background: #469165;
    color: #ffffff;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

#hero-section .banner-container .btn-outline {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    margin-left: 10px;
}

/* Main Style End */

/* --- Features Section Styles --- */
#features-section {
    padding: 100px 0;
    text-align: center;
    background-color: #ffffff;
}

#features-section .container {
    width: 97%;
    max-width: 1360px;
    margin: 0 auto;
}

#features-section .section-title {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 16px;
    color: #0d1117;
}

#features-section .section-subtitle {
    font-size: 18px;
    color: #6b7280;
    margin-bottom: 60px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}


#features-section .features-flex {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}



#features-section .feature-card {
    width: 23.5%;
    background: #ffffff;
    padding: 40px 20px;
    border: 1px solid #f3f4f6;
    border-radius: 16px;
    transition: 0.3s;
}

#features-section .feature-card:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}


#features-section .icon-wrapper {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin: 0 auto 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#features-section .icon-wrapper img {
    width: 26px;
    height: 26px;
    object-fit: contain;
}

#features-section .feature-card h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #111827;
}

#features-section .feature-card p {
    font-size: 15px;
    color: #4b5563;
    line-height: 1.5;
}


.icon-wrapper.red {
    background-color: #FEE2E2; }

.icon-wrapper.orange {
    background-color: #FFEDD5; }

.icon-wrapper.light-red {
    background-color: #FCE7F3; }

.icon-wrapper.dark-red {
    background-color: #FEE2E2; }

/* --- features area End --- */

/* Second Brain Section Styles */

#second-brain {
    padding: 80px 0;
    background-color: #ffffff;
}

#second-brain .container {
    width: 97%;
    max-width: 1360px;
    margin: 0 auto;
}


#second-brain .brain-flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


#second-brain .brain-left-image {
    width: 50%;
}

#second-brain .brain-left-image img {
    width: 100%;
    display: block;
}


#second-brain .brain-right-text {
    width: 50%;
}

#second-brain .sub-title {
    color: #469165;
    font-weight: bold;
    font-size: 14px;
}

#second-brain .main-title {
    font-size: 40px;
    margin: 15px 0;
    line-height: 1.2;
}

#second-brain .description {
    color: #4b5563;
    margin-bottom: 25px;
}


#second-brain .feature-list {
    list-style: none;
}

#second-brain .feature-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

#second-brain .feature-list li i {
    color: #30B868; 
}
 /* Second brain section end */
